.TextoNoticia1{
    font-style: italic;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carousel-control-next{
    color: black;
}

.carousel-control-prev{
    color: black;
}

.card-text{
    font-style: italic;
}

#img-c{
    height: 175px;
    width: 350px;
}

#cardc{
    width: 350px;
    height: 325px;
}

#carrusel{
    height: 350px;
    width: 750px;
}

.divF{
    display: flex;
    justify-content: space-between;
}

#col-f{
    flex: 1;
    padding: 10px;
    background-color: white;
    margin: 5px;
}

.divUsuario{
    display: flex;
    justify-content: space-between;
}

#col-Usuario{
    flex: 1;
    padding: 10px;
    background-color: white;
    margin: 5px;
}

#btnLog{
    outline: none;
    color: white; 
    background-color: black;
}

input.form-control{
    width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar-container {
    position: relative;
    width: 300px;
    height: 20px;
    display: flex;
}

.progress-segment {
    height: 100%;
}

.left {
    background-color: #d16e6e;
    width: 33.33%;
    color: white;
}

.center {
    background-color: #91b394;
    width: 33.33%;
    color: white;
}

.right {
    background-color: #6e6f87;
    width: 33.33%;
    color: white;
}

.marker {
    position: absolute;
    top: -5px;
    left: 40%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

.marker2 {
    position: absolute;
    top: -5px;
    left: 20%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

.marker3 {
    position: absolute;
    top: -5px;
    left: 80%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 10px;
}

.stat {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.icon-doc::before,
.icon-eye::before,
.icon-comment::before {
    font-family: 'FontAwesome';
    font-size: 16px;
    margin-right: 5px;
}

.icon-doc::before {
    content: '\f15c';
}

.icon-eye::before {
    content: '\f06e';
}

.icon-comment::before {
    content: '\f075';
}
