.TextoNoticia1{
    font-style: italic;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carousel-control-next{
    color: black;
}

.carousel-control-prev{
    color: black;
}

.card-text{
    font-style: italic;
}

#img-c{
    height: 175px;
    width: 350px;
}

.card{
    width: 350px;
    height: 325px;
}

#cardc{
    width: 350px;
    height: 325px;
}

#carrusel{
    height: 350px;
    width: 750px;
}

.divF{
    display: flex;
    justify-content: space-between;
}

#col-f{
    flex: 1;
    padding: 10px;
    background-color: white;
    margin: 5px;
}

.divUsuario{
    display: flex;
    justify-content: space-between;
}

#col-Usuario{
    flex: 1;
    padding: 10px;
    background-color: white;
    margin: 5px;
}

#btnLog{
    outline: none;
    color: white; 
    background-color: black;
}

input.form-control{
    width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar-container {
    position: relative;
    width: 300px;
    height: 20px;
    display: flex;
}

.progress-segment {
    height: 100%;
}

.left {
    background-color: #d16e6e;
    width: 33.33%;
    color: white;
}

.center {
    background-color: #91b394;
    width: 33.33%;
    color: white;
}

.right {
    background-color: #6e6f87;
    width: 33.33%;
    color: white;
}

#left {
    background-color: #d16e6e;
}

#center {
    background-color: #91b394;
}

#right {
    background-color: #6e6f87;
}

.marker {
    position: absolute;
    top: -5px;
    left: 40%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

.marker2 {
    position: absolute;
    top: -5px;
    left: 20%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

.marker3 {
    position: absolute;
    top: -5px;
    left: 80%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 10px;
}

.stat {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.icon-doc::before,
.icon-eye::before,
.icon-comment::before {
    font-family: 'FontAwesome';
    font-size: 16px;
    margin-right: 5px;
}

.icon-doc::before {
    content: '\f15c';
}

.icon-eye::before {
    content: '\f06e';
}

.icon-comment::before {
    content: '\f075';
}


.circle {
    position: relative;
    width: 100px;
    height: 100px;
}
.circle svg {
    transform: rotate(-90deg);
    width: 100px;
    height: 100px;
}
.circle circle {
    fill: none;
    stroke-width: 10;
}
.circle .bg {
    stroke: #e6e6e6;
}
.circle .progress {
    stroke-linecap: round;
    stroke-dasharray: 251;
    stroke-dashoffset: calc(251 - (251 * var(--percentage)) / 100);
}
.circle .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

/*MARCADORES DEPENDIENDO DEL PORCENTAJE*/
#marker0 {
    position: absolute;
    top: -5px;
    left: 0%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

#marker10 {
    position: absolute;
    top: -5px;
    left: 10%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

#marker20 {
    position: absolute;
    top: -5px;
    left: 20%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

#marker30 {
    position: absolute;
    top: -5px;
    left: 30%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

#marker40 {
    position: absolute;
    top: -5px;
    left: 40%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

#marker50 {
    position: absolute;
    top: -5px;
    left: 50%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

#marker60 {
    position: absolute;
    top: -5px;
    left: 60%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

#marker70 {
    position: absolute;
    top: -5px;
    left: 70%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

#marker80 {
    position: absolute;
    top: -5px;
    left: 80%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

#marker90 {
    position: absolute;
    top: -5px;
    left: 90%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

#marker100 {
    position: absolute;
    top: -5px;
    left: 100%;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}