.TextoNoticia1{
    font-style: italic;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carousel-control-next{
    color: black;
}

.carousel-control-prev{
    color: black;
}

.card-text{
    font-style: italic;
}

#img-c{
    height: 200px;
    width: 350px;
}

#cardc{
    width: 350px;
    height: 325px;
}

#carrusel{
    height: 350px;
    width: 750px;
}

.divF{
    display: flex;
    justify-content: space-between;
}

#col-f{
    flex: 1;
    padding: 10px;
    background-color: white;
    margin: 5px;
}

.divUsuario{
    display: flex;
    justify-content: space-between;
}

#col-Usuario{
    flex: 1;
    padding: 10px;
    background-color: white;
    margin: 5px;
}

#btnLog{
    outline: none;
    color: white; 
    background-color: black;
}

input.form-control{
    width: 400px;
}